/*
*	This is Gunard, a simple-but-beautiful responsive grid built on SASS.
*
*	I was built by Joel Hans (http://designbyjoel.com).
*	Feel free to use this grid or adapt it to your own needs under the GPL license.
*	License: http://www.gnu.org/copyleft/gpl.html
*
*/
/* 
*	User-configurable variables
*
*	These allow you to customize how wide your grid will be,
*	as well as how many columns it has, and the width of the
*	gutters between them. Use reasonable math!
*/
/*
*	Standard styles for container, rows, columns.
*	
*	Nothing too special here, really.
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.row {
  margin-bottom: 20px;
  zoom: 1; }

[class*="column"] {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  display: inline; }

/*
*	Columns
*	
*	Herein lies the SASS magic that builds the styles for
*	each column and the offsets. It will use the user-configurable 
*	variables for its logic.
*/
.column-1 {
  width: 60px; }

.column-2 {
  width: 140px; }

.column-3 {
  width: 220px; }

.column-4 {
  width: 300px; }

.column-5 {
  width: 380px; }

.column-6 {
  width: 460px; }

.column-7 {
  width: 540px; }

.column-8 {
  width: 620px; }

.column-9 {
  width: 700px; }

.column-10 {
  width: 780px; }

.column-11 {
  width: 860px; }

.column-12 {
  width: 940px; }

.offset-1 {
  margin-left: 90px; }

.offset-2 {
  margin-left: 170px; }

.offset-3 {
  margin-left: 250px; }

.offset-4 {
  margin-left: 330px; }

.offset-5 {
  margin-left: 410px; }

.offset-6 {
  margin-left: 490px; }

.offset-7 {
  margin-left: 570px; }

.offset-8 {
  margin-left: 650px; }

.offset-9 {
  margin-left: 730px; }

.offset-10 {
  margin-left: 810px; }

.offset-11 {
  margin-left: 890px; }

[class*="column"] > .row {
  margin-bottom: 0px; }

[class*="column"] > .row > [class*="column"]:first-child {
  margin-left: 0px; }

[class*="column"] > .row > [class*="column"]:last-child {
  margin-right: 0px; }

.row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after {
  clear: both; }

/*
*	Responsiveness
*	
*	Now that we have the basic grid out of the way, we can
*	completely muck it up with some media queries based on
*	some good break points.
*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; }

  .column-1 {
    width: 44px; }

  .column-2 {
    width: 108px; }

  .column-3 {
    width: 172px; }

  .column-4 {
    width: 236px; }

  .column-5 {
    width: 300px; }

  .column-6 {
    width: 364px; }

  .column-7 {
    width: 428px; }

  .column-8 {
    width: 492px; }

  .column-9 {
    width: 556px; }

  .column-10 {
    width: 620px; }

  .column-11 {
    width: 684px; }

  .column-12 {
    width: 748px; }

  .offset-1 {
    margin-left: 74px; }

  .offset-2 {
    margin-left: 138px; }

  .offset-3 {
    margin-left: 202px; }

  .offset-4 {
    margin-left: 266px; }

  .offset-5 {
    margin-left: 330px; }

  .offset-6 {
    margin-left: 394px; }

  .offset-7 {
    margin-left: 458px; }

  .offset-8 {
    margin-left: 522px; }

  .offset-9 {
    margin-left: 586px; }

  .offset-10 {
    margin-left: 650px; }

  .offset-11 {
    margin-left: 714px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px; }

  [class*="column"] {
    width: 420px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px; }

  [class*="offset"] {
    margin-left: 0px; } }
@media only screen and (max-width: 479px) {
  .container {
    width: 300px; }

  [class*="column"] {
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px; }

  [class*="offset"] {
    margin-left: 0px; } }
